header{

    padding:100px 0;

    text-align:center;

}

h1{

    font-size:56px;

    margin-bottom:20px;

    color:#111827;

}

h2{

    font-size:24px;

    font-weight:400;

    color:#2563eb;

    margin-bottom:30px;

}

p{

    max-width:850px;

    margin:auto;

    font-size:22px;

    line-height:1.8;

    color:#4b5563;

}
/* ===========================
   Navigation
=========================== */

.navbar{

    position:fixed;

    top:0;

    width:100%;

    background:#ffffff;

    border-bottom:1px solid #e5e7eb;

    z-index:1000;

}

.nav-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}

.logo{

    font-size:26px;

    font-weight:800;

    color:#0F172A;

    letter-spacing:2px;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:40px;

}

.nav-links a{

    text-decoration:none;

    color:#334155;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:#2563EB;

}

.resume-btn{

    text-decoration:none;

    padding:12px 24px;

    border-radius:10px;

    background:#2563EB;

    color:white;

    font-weight:600;

    transition:.3s;

}

.resume-btn:hover{

    background:#1D4ED8;

}
